{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% block extra_style %}
  body { padding: 40px; line-height: 1.6; }
  h1 { font-size: 1.6em; margin: 0 0 24px 0; }
  p { margin: 0 0 18px 0; max-width: 900px; }
{% endblock %}

{% block content %}
<h1>{{ macros.render_words(content.title) }}</h1>
{% for para in content.paragraphs %}
<p>{{ macros.render_words(para) }}</p>
{% endfor %}
{% endblock %}
