{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% block extra_style %}
  body { padding: 36px; }
  h1 { font-size: 1.4em; margin: 0 0 24px 0; }
  .field-row { display: flex; margin-bottom: 16px; }
  .field-label { width: 180px; font-weight: bold; }
{% endblock %}

{% block content %}
<h1>{{ macros.render_structural(content.title, tag="span") }}</h1>
{% for field in content.fields %}
<div class="field-row" data-target-id="{{ field.id }}" data-kind="field-row">
  <div class="field-label">{{ macros.render_words(field.label) }}</div>
  <div class="field-value">{{ macros.render_words(field.value) }}</div>
</div>
{% endfor %}
{% endblock %}
