{% extends "base.html.j2" %}
{% import "_macros.html.j2" as macros %}

{% block extra_style %}
  body { padding: 36px; line-height: 1.5; }
  h1 { font-size: 2em; margin: 0 0 20px 0; }
  .columns { display: flex; gap: 28px; }
  .column { flex: 1; }
  p { margin: 0 0 14px 0; }
{% endblock %}

{% block content %}
<h1>{{ macros.render_structural(content.headline, tag="span") }}</h1>
<div class="columns">
{% for col in content.columns %}
  <div class="column">
  {% for para in col.paragraphs %}
  {{ macros.render_paragraph(para) }}
  {% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}
